<!--Layouts acts as a wrapper for the page-->
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!-- this will add all the link tag present in body part under here -->
        <%- style %>
    </head>
    <body>
        
        <%- include('_header.ejs'); %>

        <main id="layout-main">
            <!--it will include the body part from the relevant ejs files-->
            <%- body %>
        </main>
        
        
        <%- include('_footer.ejs'); %>
        <!-- this will add all the script tag present in the body part under here -->
        <%- script %>
    </body>
</html>